.sidebar-outline{
    background-color: black;
    top:0;
    left:0;
    width:20rem;
    height:100vh;
    display:flex;
    flex-direction:column;
    padding:0 1rem;
   
    img{
        width: 14rem;
		margin: 2.5rem;
    }
}
.play{
    color:white;
}